				<section class="content-header"><!-- Content Header (Page header) -->
					<h1>
						<i class="fa fa-money"></i> <span>{{@pagetitle}}</span>
					</h1>
					<ol class="breadcrumb">
						<li><a href="{{@BASE}}"><i class="fa fa-home"></i> Home</a></li>
						<li class="active">{{@pagetitle}}</li>
					</ol>
				</section><!-- ./content-header -->
				
				<section class="content"><!-- Main content -->
					<div class="row">
						<div class="col-xs-12">
							<div class="box box-info" id="ctnr-tbl-currency-list">
								<div class="box-header with-border">
									<h3 class="box-title">Currencies</h3>
									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
										<div class="btn-group">
											<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="#" id="refresh-currency-list-1"><i class="fa fa-refresh"></i>Refresh List</a></li>
												<li class="divider"></li>
												<li><a href="{{@BASE . '/createcurrency'}}"><i class="fa  fa-plus-circle"></i>Add Currency</a></li>
											</ul>
										</div>
									</div>
								</div><!-- ./box-header -->
								<div class="box-body">
									<table id="tbl-currency-list" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Code</th>
												<th>Name</th>
												<th>Description</th>
												<th>Status</th>
												<th>Modified By</th>
												<th>Modified Date</th>
												<th>Actions</th>
											</tr>
										</thead>
									</table>
								</div><!-- ./box-body -->
								<div class="overlay" id="otbl-currency-list">
									<i class="fa fa-refresh fa-spin"></i>
								</div>
								<div class="box-footer clearfix">
									<a href="#" id="refresh-currency-list-2" class="btn btn-sm btn-info btn-flat pull-left"><i class="fa fa-refresh"></i><span> Refresh List</span></a>
									<a href="#" id="fetch-currency-rates-2" class="btn btn-sm btn-warning btn-flat pull-left" style="margin-left: 10px;"><i class="fa fa-cloud-download"></i><span> Fetch EFRIS Rates</span></a>
									<a href="{{@BASE . '/createcurrency'}}" class="btn btn-sm btn-default btn-flat pull-right"><i class="fa fa-plus-circle"></i><span> Add Currency</span></a>
								</div><!-- ./box-footer -->
							</div><!-- ./box -->
						</div><!-- ./col-xs-12 -->
					</div><!-- ./row -->				
				</section>