				<section class="content-header"><!-- Content Header (Page header) -->
					<h1>
						<i class="fa fa-compress"></i> <span>{{@pagetitle}}</span>
					</h1>
					<ol class="breadcrumb">
						<li><a href="{{@BASE}}"><i class="fa fa-home"></i> Home</a></li>
						<li><a href="{{@BASE . '/administration'}}"><i class="fa fa-briefcase"></i> Administration</a></li>
						<li class="active">{{@pagetitle}}</li>
					</ol>
				</section><!-- ./content-header -->
				<section class="content"><!-- Main content -->
					<span id="currenttab" style="color: transparent">{{@currenttab}}</span>
					<span id="currenttabpane" style="color: transparent">{{@currenttabpane}}</span>
					<div class="row">
						<div class="col-md-12">
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li id="tab_general"><a href="#tab_1" data-toggle="tab"><i class="fa fa-gear"></i> General</a></li>
									<check if="{{@apikey.id !== null}}"><true><li id="tab_permissions"><a href="#tab_2" data-toggle="tab"><i class="fa fa-unlock"></i> Permissions</a></li></true></check>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="fa fa-wrench"></i> Quick Actions <span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li apikey="presentation"><a apikey="menuitem" tabindex="-1" href="{{@BASE . '/createapikey'}}" id="create-new-apikey-2"><i class="fa fa-plus-circle"></i>New Apikey</a></li>
										</ul>
									</li>
								</ul><!-- ./nav-tabs -->
								<div class="tab-content">
									<div class="tab-pane" id="tab_1">
										<div class="row">
											<div class="col-xs-12">
												<div class="box box-info">
													<form class="form-horizontal" apikey="form" action="{{@BASE . '/editapikey'}}" method="post" enctype="multipart/form-data" name="apikey-form">
														<div class="box-body">
															<div class="form-group">
																<label for="" class="col-xs-2 control-label">ID</label>
																<div class="col-xs-10">
																	<input type="text" class="form-control" value="{{@apikey.id}}" id="" name="" placeholder="ID" disabled>
																</div>
															</div><!-- /.form-group -->		
															<div class="form-group">
																<label for="apikey" class="col-xs-2 control-label">Key</label>
																<div class="col-xs-10">
																	<input type="text" class="form-control" value="{{@apikey.apikey}}" id="apikey" name = "apikey" placeholder="Key" required>
																</div>
															</div><!-- /.form-group -->
															<div class="form-group">
																<label for="apikeystatus" class="col-xs-2 control-label">Status</label>
																<div class="col-xs-10">
																	<check if="{{@apikey.id !== null}}">
																		<true><select class="form-control" name="apikeystatus" id="apikeystatus" required></true>
																		<false><select class="form-control" name="apikeystatus" id="apikeystatus" required disabled></false>
																	</check>
																		<option value="" selected disabled hidden>Select Status</option>
																		<repeat group="{{@apikeystatuses}}" value="{{@apikeystatus}}">
																			<check if="{{@apikeystatus.id == @apikey.status}}">
																				<true><option value="{{@apikeystatus.id}}" selected>{{@apikeystatus.id}} - {{@apikeystatus.name}}</option></true>
																				<false><option value="{{@apikeystatus.id}}">{{@apikeystatus.id}} - {{@apikeystatus.name}}</option></false>
																			</check>
																		</repeat>
																	</select>
																</div>
															</div><!-- /.form-group -->
															<div class="form-group">
																<label for="apikeyinserteddt" class="col-xs-2 control-label">Create Date</label>
																<div class="col-xs-10">
																	<input type="text" class="form-control" value="{{@apikey.inserteddt}}" id="apikeyinserteddt" name="apikeyinserteddt" placeholder="Create Date" disabled>
																</div>
															</div><!-- /.form-group -->
															<div class="form-group">
																<label for="apikeymodifieddt" class="col-xs-2 control-label">Modified Date</label>
																<div class="col-xs-10">
																	<input type="text" class="form-control" value="{{@apikey.modifieddt}}" id="apikeymodifieddt" name="apikeymodifieddt" placeholder="Modified Date" disabled>
																</div>
															</div><!-- /.form-group -->								
														</div><!-- /.box-body -->
														<div class="box-footer">
															<button type="submit" class="btn btn-info pull-right">Save</button>
															<input type="hidden" name="currenttab" id="currenttab" value="tab_general" />
															<input type="hidden" name="currenttabpane" id="currenttabpane"  value="tab_1" />
															<input type="hidden" name="apikeyid" id="apikeyid" value="{{@apikey.id}}" />
														</div><!-- /.box-footer -->
													</form><!-- /.form -->
												</div><!-- /.box -->																
											</div><!-- ./col-xs-12 -->
										</div><!-- ./row -->
									</div><!-- /.tab-pane -->
									<div class="tab-pane" id="tab_2">
										<div class="row">
											<div class="col-xs-12">
												<div class="box box-info">
													<form class="form-horizontal" apikey="form" action="{{@BASE . '/editapikey'}}" method="post" enctype="multipart/form-data" name="apikey-form">
														<div class="box-body">
															<div class="form-group">
																<div class="col-xs-12">
																	<select class="form-control" multiple="multiple" size="10" name="apikeypermissions[]" id="apikeypermissions">
																		<repeat group="{{@plts}}" value="{{@plt}}">
																			{{@plt}}
																		</repeat>
																	</select>
																</div>
															</div><!-- /.form-group -->								
														</div><!-- /.box-body -->
														<div class="box-footer">
															<button type="submit" class="btn btn-info pull-right">Save</button>
															<input type="hidden" name="permissioncurrenttab" id="permissioncurrenttab" value="tab_permission" />
															<input type="hidden" name="permissioncurrenttabpane" id="permissioncurrenttabpane"  value="tab_2" />
															<input type="hidden" name="permissionapikeyid" id="permissionapikeyid" value="{{@apikey.id}}" />
														</div><!-- /.box-footer -->
													</form><!-- /.form -->
												</div><!-- /.box -->																
											</div><!-- ./col-xs-12 -->
										</div><!-- ./row -->
									</div><!-- /.tab-pane -->
								</div><!-- ./tab-content -->
							</div><!-- ./nav-tabs-custom -->
						</div><!-- ./col-md-12 -->
					</div><!-- ./row -->						
				</section>