				<section class="content-header"><!-- Content Header (Page header) -->
					<h1>
						<i class="fa fa-product-hunt"></i> <span>{{@pagetitle}}</span>
					</h1>
					<ol class="breadcrumb">
						<li><a href="{{@BASE}}"><i class="fa fa-home"></i> Home</a></li>
						<li><a href="{{@BASE . '/product'}}"><i class="fa fa-product-hunt"></i> Products</a></li>
						<li class="active">{{@pagetitle}}</li>
					</ol>
				</section><!-- ./content-header -->
				<section class="content"><!-- Main content -->
					<span id="currenttab" style="color: transparent">{{@currenttab}}</span>
					<span id="currenttabpane" style="color: transparent">{{@currenttabpane}}</span>
					<span id="measureunit" style="color: transparent">{{@product.measureunit}}</span>
					<span id="measureunitName" style="color: transparent">{{@product.measureunitName}}</span>
					<!-- 2026-04-11 19:44:49 +03:00 - Hidden values used to prefill AJAX Select2 currency field on edit. -->
					<span id="currency" style="color: transparent">{{@product.currency}}</span>
					<span id="currencyName" style="color: transparent">{{@product.currencyName}}</span>
					<span id="commoditycategorycode" style="color: transparent">{{@product.commoditycategorycode}}</span>
					<span id="commoditycategoryName" style="color: transparent">{{@product.commoditycategoryName}}</span>
					<span id="piecemeasureunit" style="color: transparent">{{@product.piecemeasureunit}}</span>	
					<span id="piecemeasureunitName" style="color: transparent">{{@product.piecemeasureunitName}}</span>		
					<span id="customsmeasureunit" style="color: transparent">{{@product.customsmeasureunit}}</span>	
					<span id="customsmeasureunitName" style="color: transparent">{{@product.customsmeasureunitName}}</span>	
					<span id="hscode" style="color: transparent">{{@product.hsCode}}</span>	
					<span id="hsName" style="color: transparent">{{@product.hsName_2}}</span>	
					<div class="row">
						<div class="col-md-12">
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li id="tab_general"><a href="#tab_1" data-toggle="tab"><i class="fa fa-gear"></i> General</a></li>
									<check if="{{@product.haveotherunit == 101}}"><true><li id="tab_otherunits"><a href="#tab_2" data-toggle="tab"><i class="fa fa-balance-scale"></i> Other Units</a></li></true></check>
									<li id="tab_stockadjustments"><a href="#tab_3" data-toggle="tab"><i class="fa fa-plus-circle"></i> Stock Adjustment History</a></li>
									<li id="tab_stocktransfer"><a href="#tab_4" data-toggle="tab"><i class="fa fa-truck"></i> Stock Transfer History</a></li>
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="fa fa-wrench"></i> Quick Actions <span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="{{@BASE . '/createproduct'}}" id="create-new-product-2"><i class="fa fa-plus-circle"></i>Add Product</a></li>
										</ul>
									</li>
								</ul><!-- ./nav-tabs -->
								<div class="tab-content">
									<div class="tab-pane" id="tab_1">
										<div class="row">
											<div class="col-xs-12">
												<div class="box box-info">
													<form class="form-horizontal" role="form" action="{{@BASE . '/editproduct'}}" method="post" enctype="multipart/form-data" name="product-form">
														<div class="box-body">
															<fieldset>
																<legend>Details:</legend>
																	<div class="form-group">
																		<label for="" class="col-xs-2 control-label">EFRIS Product Identifier</label>
																		<div class="col-xs-10">
																			<input type="text" class="form-control" value="{{@product.uraproductidentifier}}" id="" name="" placeholder="EFRIS Product Identifier" disabled>
																		</div>
																	</div><!-- /.form-group -->		
																	<div class="form-group">
																		<label for="productcode" class="col-xs-2 control-label">Code</label>
																		<div class="col-xs-10">
																			<check if="{{@product.id == null}}">
																				<true><input type="text" class="form-control" value="{{@product.code}}" id="productcode" name = "productcode" placeholder="Code" required></true>
																				<false><input type="text" class="form-control" value="{{@product.code}}" id="productcode" name = "productcode" placeholder="Code" required disabled></false>
																			</check>
																			<p class="help-block text-aqua"><i class="fa fa-bell-o"></i> The code cannot be empty, cannot be greater than 50 characters.</p>
																		</div>
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																		<label for="productname" class="col-xs-2 control-label">Name</label>
																		<div class="col-xs-10">
																			<input type="text" class="form-control" value="{{@product.name}}" id="productname" name = "productname" placeholder="Name" required>
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="productdescription" class="col-xs-2 control-label">Description</label>
																		<div class="col-xs-10">
																			<input type="text" class="form-control" value="{{@product.description}}" id="productdescription" name = "productdescription" placeholder="Description">
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="producterpid" class="col-xs-2 control-label">ERP ID</label>
																		<div class="col-xs-10">
																			<check if="{{@product.id == null}}">
																				<true><input type="text" class="form-control" value="{{@product.erpid}}" id="producterpid" name = "producterpid" placeholder="ERP ID" disabled></true>
																				<false><input type="text" class="form-control" value="{{@product.erpid}}" id="producterpid" name = "producterpid" placeholder="ERP ID"></false>
																			</check>
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="producterpcode" class="col-xs-2 control-label">ERP Code</label>
																		<div class="col-xs-10">
																			<check if="{{@product.id == null}}">
																				<true><input type="text" class="form-control" value="{{@product.erpcode}}" id="producterpcode" name = "producterpcode" placeholder="ERP Code" disabled></true>
																				<false><input type="text" class="form-control" value="{{@product.erpcode}}" id="producterpcode" name = "producterpcode" placeholder="ERP Code"></false>
																			</check>
																		</div>
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																		<label for="productunitprice" class="col-xs-2 control-label">Unit Price</label>
																		<div class="col-xs-10">
																			<input type="number" step="0.00000001" min="0" class="form-control" value="{{@product.unitprice}}" id="productunitprice" name = "productunitprice" placeholder="Unit Price" required>
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																	<label for="productmeasureunit" class="col-xs-2 control-label">Measure Unit</label>
																	<div class="col-xs-6">
																		<select class="form-control select2" style="width: 100%;" id="productmeasureunit" name="productmeasureunit" required></select>													
																	</div>															
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																	<label for="productcurrency" class="col-xs-2 control-label">Currency</label>
																	<div class="col-xs-6">
																		<!-- 2026-04-11 19:44:49 +03:00 - Use AJAX Select2 currency search to match commodity category behavior. -->
																		<select class="form-control select2" style="width: 100%;" name="productcurrency" id="productcurrency" required></select>
																	</div>															
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																	<label for="productcommoditycategory" class="col-xs-2 control-label">Commodity Category</label>
																	<div class="col-xs-6">
																		<select class="form-control select2" style="width: 100%;" id="productcommoditycategory" name="productcommoditycategory"></select>
																	</div>															
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																	<label for="productgoodsTypeCode" class="col-xs-2 control-label">Goods Type</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="productgoodsTypeCode" id="productgoodsTypeCode">
																			<option value="" selected disabled hidden>Select Goods Typee</option>
																			<repeat group="{{@goodstypes}}" value="{{@goodstype}}">																		
																				<check if="{{@goodstype.code == @product.goodsTypeCode}}">
																					<true><check if="{{@goodstype.disabled == 1}}"><true><option value="{{@goodstype.code}}" selected disabled>{{@goodstype.code}} - {{@goodstype.name}}</option></true><false><option value="{{@goodstype.code}}" selected>{{@goodstype.code}} - {{@goodstype.name}}</option></false></check></true>
																					<false><check if="{{@goodstype.disabled == 1}}"><true><option value="{{@goodstype.code}}" disabled>{{@goodstype.code}} - {{@goodstype.name}}</option></true><false><option value="{{@goodstype.code}}">{{@goodstype.code}} - {{@goodstype.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																	</div><!-- /.form-group -->																																																	
																	<div class="form-group">
																		<label for="productinserteddt" class="col-xs-2 control-label">Create Date</label>
																		<div class="col-xs-10">
																			<input type="text" class="form-control" value="{{@product.inserteddt}}" id="productinserteddt" name="productinserteddt" placeholder="Create Date" disabled>
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="productmodifieddt" class="col-xs-2 control-label">Modified Date</label>
																		<div class="col-xs-10">
																			<input type="text" class="form-control" value="{{@product.modifieddt}}" id="productmodifieddt" name="productmodifieddt" placeholder="Modified Date" disabled>
																		</div>
																	</div><!-- /.form-group -->																																
															</fieldset>
															
															<fieldset>
																<legend>Excise Duty:</legend>
																<div class="form-group">
																	<label for="producthasexcisetax" class="col-xs-2 control-label">Have Excise Duty?</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="producthasexcisetax" id="producthasexcisetax" required>
																			<option value="" selected disabled hidden>Select Choice</option>
																			<repeat group="{{@choices}}" value="{{@hasexcisetax}}">																		
																				<check if="{{@hasexcisetax.code == @product.hasexcisetax}}">
																					<true><check if="{{@hasexcisetax.disabled == 1}}"><true><option value="{{@hasexcisetax.code}}" selected disabled>{{@hasexcisetax.code}} - {{@hasexcisetax.name}}</option></true><false><option value="{{@hasexcisetax.code}}" selected>{{@hasexcisetax.code}} - {{@hasexcisetax.name}}</option></false></check></true>
																					<false><check if="{{@hasexcisetax.disabled == 1}}"><true><option value="{{@hasexcisetax.code}}" disabled>{{@hasexcisetax.code}} - {{@hasexcisetax.name}}</option></true><false><option value="{{@hasexcisetax.code}}">{{@hasexcisetax.code}} - {{@hasexcisetax.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																	</div><!-- /.form-group -->
																	<div class="form-group">
																	<label for="productexcisedutylist" class="col-xs-2 control-label">Excise Duty Code</label>
																	<div class="col-xs-6">
																		<select class="form-control select2" style="width: 100%;" name="productexcisedutylist" id="productexcisedutylist">
																			<option value="" selected disabled hidden>Select Excise Duty Code</option>
																			<repeat group="{{@excisedutylists}}" value="{{@excisedutylist}}">																		
																				<check if="{{@excisedutylist.code == @product.exciseDutyCode || @excisedutylist.code == @product.excisedutylist}}">
																					<true><check if="{{@excisedutylist.disabled == 1}}"><true><option value="{{@excisedutylist.code}}" selected disabled>{{@excisedutylist.code}} - {{@excisedutylist.goodService}}</option></true><false><option value="{{@excisedutylist.code}}" selected>{{@excisedutylist.code}} - {{@excisedutylist.goodService}}</option></false></check></true>
																					<false><check if="{{@excisedutylist.disabled == 1}}"><true><option value="{{@excisedutylist.code}}" disabled>{{@excisedutylist.code}} - {{@excisedutylist.goodService}}</option></true><false><option value="{{@excisedutylist.code}}">{{@excisedutylist.code}} - {{@excisedutylist.goodService}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																	</div><!-- /.form-group -->
															</fieldset>	
																													
															<fieldset>
																<legend>Piece Units:</legend>
																	<div class="form-group">
																	<label for="producthavepieceunit" class="col-xs-2 control-label">Have Piece Units?</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="producthavepieceunit" id="producthavepieceunit" required>
																			<option value="" selected disabled hidden>Select Choice</option>
																			<repeat group="{{@choices}}" value="{{@havepieceunit}}">																		
																				<check if="{{@havepieceunit.code == @product.havepieceunit}}">
																					<true><check if="{{@havepieceunit.disabled == 1}}"><true><option value="{{@havepieceunit.code}}" selected disabled>{{@havepieceunit.code}} - {{@havepieceunit.name}}</option></true><false><option value="{{@havepieceunit.code}}" selected>{{@havepieceunit.code}} - {{@havepieceunit.name}}</option></false></check></true>
																					<false><check if="{{@havepieceunit.disabled == 1}}"><true><option value="{{@havepieceunit.code}}" disabled>{{@havepieceunit.code}} - {{@havepieceunit.name}}</option></true><false><option value="{{@havepieceunit.code}}">{{@havepieceunit.code}} - {{@havepieceunit.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																	<label for="productpiecemeasureunit" class="col-xs-2 control-label">Measure Unit</label>
																	<div class="col-xs-6">
																		<select class="form-control select2" style="width: 100%;" id="productpiecemeasureunit" name="productpiecemeasureunit"></select>
																	</div>															
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="productpieceunitprice" class="col-xs-2 control-label">Piece Unit Price</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.pieceunitprice}}" id="productpieceunitprice" name = "productpieceunitprice" placeholder="Piece Unit Price">
																		</div>
																	</div><!-- /.form-group -->		
																	<div class="form-group">
																		<label for="productpackagescaledvalue" class="col-xs-2 control-label">Package Scale Value</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.packagescaledvalue}}" id="productpackagescaledvalue" name = "productpackagescaledvalue" placeholder="Package Scale Value">
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="productpiecescaledvalue" class="col-xs-2 control-label">Piece Scale Value</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.piecescaledvalue}}" id="productpiecescaledvalue" name = "productpiecescaledvalue" placeholder="Piece Scale Value">
																		</div>
																	</div><!-- /.form-group -->													
															</fieldset>
															<fieldset>
																<legend>Other Units:</legend>
																<div class="form-group">
																	<label for="producthaveotherunit" class="col-xs-2 control-label">Have Other Units?</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="producthaveotherunit" id="producthaveotherunit" required>
																			<option value="" selected disabled hidden>Select Choice</option>
																			<repeat group="{{@choices}}" value="{{@haveotherunit}}">																		
																				<check if="{{@haveotherunit.code == @product.haveotherunit}}">
																					<true><check if="{{@haveotherunit.disabled == 1}}"><true><option value="{{@haveotherunit.code}}" selected disabled>{{@haveotherunit.code}} - {{@haveotherunit.name}}</option></true><false><option value="{{@haveotherunit.code}}" selected>{{@haveotherunit.code}} - {{@haveotherunit.name}}</option></false></check></true>
																					<false><check if="{{@haveotherunit.disabled == 1}}"><true><option value="{{@haveotherunit.code}}" disabled>{{@haveotherunit.code}} - {{@haveotherunit.name}}</option></true><false><option value="{{@haveotherunit.code}}">{{@haveotherunit.code}} - {{@haveotherunit.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																	</div><!-- /.form-group -->
															</fieldset>
															<fieldset>
																<legend>Stock:</legend>
																	<div class="form-group">
																		<label for="productstockprewarning" class="col-xs-2 control-label">Stock Prewarning</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.stockprewarning}}" id="productstockprewarning" name="productstockprewarning" placeholder="Stock Prewarning" required>
																		</div>
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																		<label for="producturaquantity" class="col-xs-2 control-label">EFRIS Stock</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.uraquantity}}" id="producturaquantity" name="producturaquantity" placeholder="EFRIS Stock" disabled>
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="producterpquantity" class="col-xs-2 control-label">ERP Stock</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.erpquantity}}" id="producterpquantity" name="producterpquantity" placeholder="ERP Stock" disabled>
																		</div>
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																		<label for="productpurchaseprice" class="col-xs-2 control-label">Purchase Price</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.purchaseprice}}" id="productpurchaseprice" name="productpurchaseprice" placeholder="Purchase Price" disabled>
																		</div>
																	</div><!-- /.form-group -->																
															</fieldset>	
															<fieldset>
																<legend>Export:</legend>
																	<div class="form-group">
																	<label for="producthscode" class="col-xs-2 control-label">HS Name</label>
																	<div class="col-xs-6">
																		<select class="form-control select2" style="width: 100%;" id="producthscode" name="producthscode"></select>
																	</div>															
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																	<label for="productcustomsmeasureunit" class="col-xs-2 control-label">Custom Measure Unit</label>
																	<div class="col-xs-6">
																		<select class="form-control select2" style="width: 100%;" id="productcustomsmeasureunit" name="productcustomsmeasureunit"></select>
																	</div>															
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="productcustomsunitprice" class="col-xs-2 control-label">Customs Unit Price</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.customsunitprice}}" id="productcustomsunitprice" name = "productcustomsunitprice" placeholder="Customs Unit Price">
																		</div>
																	</div><!-- /.form-group -->		
																	<div class="form-group">
																		<label for="packagescaledvaluecustoms" class="col-xs-2 control-label">Package Scaled Value Customs</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.packagescaledvaluecustoms}}" id="packagescaledvaluecustoms" name = "packagescaledvaluecustoms" placeholder="Package Scale Value Customs">
																		</div>
																	</div><!-- /.form-group -->
																	<div class="form-group">
																		<label for="productcustomsscaledvalue" class="col-xs-2 control-label">Customs Scaled Value</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.customsscaledvalue}}" id="productcustomsscaledvalue" name = "productcustomsscaledvalue" placeholder="Customs Scale Value">
																		</div>
																	</div><!-- /.form-group -->	
																	<div class="form-group">
																		<label for="productweight" class="col-xs-2 control-label">Weight</label>
																		<div class="col-xs-10">
																			<input type="number" class="form-control" value="{{@product.weight}}" id="productweight" name = "productweight" placeholder="Weight">
																		</div>
																	</div><!-- /.form-group -->															
															</fieldset>
															<fieldset>
																<legend>Other details:</legend>
																<div class="form-group">
																		<label for="producttaxrate" class="col-xs-2 control-label">Tax Rate</label>
																		<div class="col-xs-6">
																			<input type="number" class="form-control" value="{{@product.taxrate}}" id="producttaxrate" name="producttaxrate" placeholder="Tax Rate" disabled>
																		</div>
																</div><!-- /.form-group -->
																
																<div class="form-group">
																	<label for="productisexempt" class="col-xs-2 control-label">Is Exempt?</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="productisexempt" id="productisexempt" disabled>
																			<option value="" selected disabled hidden>Select Choice</option>
																			<repeat group="{{@choices}}" value="{{@isexempt}}">																		
																				<check if="{{@isexempt.code == @product.isexempt}}">
																					<true><check if="{{@isexempt.disabled == 1}}"><true><option value="{{@isexempt.code}}" selected disabled>{{@isexempt.code}} - {{@isexempt.name}}</option></true><false><option value="{{@isexempt.code}}" selected>{{@isexempt.code}} - {{@isexempt.name}}</option></false></check></true>
																					<false><check if="{{@isexempt.disabled == 1}}"><true><option value="{{@isexempt.code}}" disabled>{{@isexempt.code}} - {{@isexempt.name}}</option></true><false><option value="{{@isexempt.code}}">{{@isexempt.code}} - {{@isexempt.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																</div><!-- /.form-group -->
																<div class="form-group">
																	<label for="productiszerorated" class="col-xs-2 control-label">Is Zero Rated?</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="productiszerorated" id="productiszerorated" disabled>
																			<option value="" selected disabled hidden>Select Choice</option>
																			<repeat group="{{@choices}}" value="{{@iszerorated}}">																		
																				<check if="{{@iszerorated.code == @product.iszerorated}}">
																					<true><check if="{{@iszerorated.disabled == 1}}"><true><option value="{{@iszerorated.code}}" selected disabled>{{@iszerorated.code}} - {{@iszerorated.name}}</option></true><false><option value="{{@iszerorated.code}}" selected>{{@iszerorated.code}} - {{@iszerorated.name}}</option></false></check></true>
																					<false><check if="{{@iszerorated.disabled == 1}}"><true><option value="{{@iszerorated.code}}" disabled>{{@iszerorated.code}} - {{@iszerorated.name}}</option></true><false><option value="{{@iszerorated.code}}">{{@iszerorated.code}} - {{@iszerorated.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																</div><!-- /.form-group -->
																<div class="form-group">
																	<label for="productstatuscode" class="col-xs-2 control-label">Status Code</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="productstatuscode" id="productstatuscode" disabled>
																			<option value="" selected disabled hidden>Select Status</option>
																			<repeat group="{{@productstatuscodes}}" value="{{@productstatuscodes}}">																		
																				<check if="{{@productstatuscodes.code == @product.statuscode}}">
																					<true><check if="{{@productstatuscodes.disabled == 1}}"><true><option value="{{@productstatuscodes.code}}" selected disabled>{{@productstatuscodes.code}} - {{@productstatuscodes.name}}</option></true><false><option value="{{@productstatuscodes.code}}" selected>{{@productstatuscodes.code}} - {{@productstatuscodes.name}}</option></false></check></true>
																					<false><check if="{{@productstatuscodes.disabled == 1}}"><true><option value="{{@productstatuscodes.code}}" disabled>{{@productstatuscodes.code}} - {{@productstatuscodes.name}}</option></true><false><option value="{{@productstatuscodes.code}}">{{@productstatuscodes.code}} - {{@productstatuscodes.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																</div><!-- /.form-group -->
																<div class="form-group">
																	<label for="productsource" class="col-xs-2 control-label">Source</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="productsource" id="productsource" disabled>
																			<option value="" selected disabled hidden>Select Source</option>
																			<repeat group="{{@productsourcecodes}}" value="{{@productsourcecodes}}">																		
																				<check if="{{@productsourcecodes.code == @product.source}}">
																					<true><check if="{{@productsourcecodes.disabled == 1}}"><true><option value="{{@productsourcecodes.code}}" selected disabled>{{@productsourcecodes.code}} - {{@productsourcecodes.name}}</option></true><false><option value="{{@productsourcecodes.code}}" selected>{{@productsourcecodes.code}} - {{@productsourcecodes.name}}</option></false></check></true>
																					<false><check if="{{@productsourcecodes.disabled == 1}}"><true><option value="{{@productsourcecodes.code}}" disabled>{{@productsourcecodes.code}} - {{@productsourcecodes.name}}</option></true><false><option value="{{@productsourcecodes.code}}">{{@productsourcecodes.code}} - {{@productsourcecodes.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																</div><!-- /.form-group -->
																<div class="form-group">
																	<label for="productexclusion" class="col-xs-2 control-label">Exclusion</label>
																	<div class="col-xs-6">
																		<select class="form-control" name="productexclusion" id="productexclusion" disabled>
																			<option value="" selected disabled hidden>Select Exclusion</option>
																			<repeat group="{{@productexclusioncodes}}" value="{{@productexclusioncodes}}">																		
																				<check if="{{@productexclusioncodes.code == @product.exclusion}}">
																					<true><check if="{{@productexclusioncodes.disabled == 1}}"><true><option value="{{@productexclusioncodes.code}}" selected disabled>{{@productexclusioncodes.code}} - {{@productexclusioncodes.name}}</option></true><false><option value="{{@productexclusioncodes.code}}" selected>{{@productexclusioncodes.code}} - {{@productexclusioncodes.name}}</option></false></check></true>
																					<false><check if="{{@productexclusioncodes.disabled == 1}}"><true><option value="{{@productexclusioncodes.code}}" disabled>{{@productexclusioncodes.code}} - {{@productexclusioncodes.name}}</option></true><false><option value="{{@productexclusioncodes.code}}">{{@productexclusioncodes.code}} - {{@productexclusioncodes.name}}</option></false></check></false>
																				</check>
																			</repeat>
																		</select>
																	</div>															
																</div><!-- /.form-group -->
															</fieldset>								
														</div><!-- /.box-body -->
														<div class="box-footer">
															<button type="button" class="btn btn-default" onclick="window.location='../../etaxware/product';return false;">Cancel</button>
															<button type="submit" class="btn btn-info pull-right">Save</button>
															<input type="hidden" name="currenttab" id="currenttab" value="tab_general" />
															<input type="hidden" name="currenttabpane" id="currenttabpane"  value="tab_1" />
															<input type="hidden" name="productid" id="productid" value="{{@product.id}}" />
														</div><!-- /.box-footer -->
													</form><!-- /.form -->
												</div><!-- /.box -->																
											</div><!-- ./col-xs-12 -->
										</div><!-- ./row -->
									</div><!-- /.tab-pane -->
									<div class="tab-pane" id="tab_2">
										<button class="btn btn-primary" type="button" id="refresh-other-units-2"><i class="fa fa-refresh"></i><span> Refresh</span></button>
										<div class="row">
											<div class="col-xs-12">
												<div class="box box-info" id="ctnr-tbl-otherunits">
													<div class="box-header">
              											<h3 class="box-title">Other Units</h3>
              											<div class="box-tools pull-right">
															<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
														</div>
            										</div><!-- /.box-header -->
													<div class="box-body">
														<table id="tbl-otherunits" class="table table-bordered table-striped">
															<thead>
																<tr>
																	<th>ID</th>
																	<th>Code</th>
																	<th>Name</th>
																	<th>Actions</th>
																</tr>
															</thead>
														</table>
													</div><!-- /.box-body -->
													<div class="box-footer clearfix">
														<a href="#" class="btn btn-sm btn-default btn-flat pull-right" id="add-other-unit-1" data-toggle="modal" data-target="#modal-add-other-units"><i class="fa fa-plus-circle"></i><span> Add Unit</span></a>
													</div>
												</div><!-- /.box -->
											</div><!-- ./col-xs-12 -->
										</div><!-- ./row -->
									</div><!-- /.tab-pane -->
									<div class="tab-pane" id="tab_3">
										<button class="btn btn-primary" type="button" id="refresh-stock-adjustments-2"><i class="fa fa-refresh"></i><span> Refresh</span></button>
										<div class="row">
											<div class="col-xs-12">
												<div class="box box-info" id="ctnr-tbl-stockadjustments">
													<div class="box-header">
              											<h3 class="box-title">Stock Adjustment History</h3>
              											<div class="box-tools pull-right">
															<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
														</div>
            										</div><!-- /.box-header -->
													<div class="box-body">
														<table id="tbl-stockadjustments" class="table table-bordered table-striped">
															<thead>
																<tr>
																	<th>ID</th>
																	<th>Actions</th>
																</tr>
															</thead>
														</table>
													</div><!-- /.box-body -->
													<div class="box-footer clearfix">
														<a href="#" class="btn btn-sm btn-default btn-flat pull-right" id="download-stock-adjustments-1" data-toggle="modal" data-target="#modal-download-stock-adjustments"><i class="fa fa-download"></i><span> Download EFRIS Adjustments</span></a>
													</div>
												</div><!-- /.box -->
											</div><!-- ./col-xs-12 -->
										</div><!-- ./row -->
									</div><!-- /.tab-pane -->
									<div class="tab-pane" id="tab_4">
										<button class="btn btn-primary" type="button" id="refresh-stock-transfers-2"><i class="fa fa-refresh"></i><span> Refresh</span></button>
										<div class="row">
											<div class="col-xs-12">
												<div class="box box-info" id="ctnr-tbl-stocktransfers">
													<div class="box-header">
              											<h3 class="box-title">Stock Transfer History</h3>
              											<div class="box-tools pull-right">
															<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
														</div>
            										</div><!-- /.box-header -->
													<div class="box-body">
														<table id="tbl-stocktransfers" class="table table-bordered table-striped">
															<thead>
																<tr>
																	<th>ID</th>
																	<th>Actions</th>
																</tr>
															</thead>
														</table>
													</div><!-- /.box-body -->
												</div><!-- /.box -->
											</div><!-- ./col-xs-12 -->
										</div><!-- ./row -->
									</div><!-- /.tab-pane -->
								</div><!-- ./tab-content -->
							</div><!-- ./nav-tabs-custom -->
						</div><!-- ./col-md-12 -->
					</div><!-- ./row -->	
					
					
					<div class="modal fade" id="modal-add-other-units"><!-- modal-add-other-units -->
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Add Unit</h4>
								</div>
								<div class="modal-body">									
									<form class="form-horizontal" role="form" action="{{@BASE . '/addotherunits'}}" method="post" enctype="multipart/form-data" id="add-other-units-form" name="add-other-units-form">
										<div class="box-body">													
											<div class="form-group">
                                                <label for="addotherunitsproductcode" class="col-xs-4 control-label">Product Code</label>
                                                <div class="col-xs-8">
                                                    <input type="text" class="form-control" id="addotherunitsproductcode" value="{{@product.code}}" name="addotherunitsproductcode" placeholder="Product Code" required disabled>
                                                </div>
                                            </div><!-- ./form-group --> 
											<div class="form-group">
											<label for="addotherunitsproductmeasureunit" class="col-xs-4 control-label">Measure Unit</label>
											<div class="col-xs-8">
												<select class="form-control select2" style="width: 100%;" id="addotherunitsproductmeasureunit" name="addotherunitsproductmeasureunit"></select>
											</div>															
											</div><!-- /.form-group -->
											<div class="form-group">
												<label for="addotherunitsproductpieceunitprice" class="col-xs-4 control-label">Piece Unit Price</label>
												<div class="col-xs-8">
													<input type="number" class="form-control" id="addotherunitsproductpieceunitprice" name = "addotherunitsproductpieceunitprice" placeholder="Piece Unit Price">
												</div>
											</div><!-- /.form-group -->		
											<div class="form-group">
												<label for="addotherunitsproductpackagescaledvalue" class="col-xs-4 control-label">Package Scale Value</label>
												<div class="col-xs-8">
													<input type="number" class="form-control" id="addotherunitsproductpackagescaledvalue" name = "addotherunitsproductpackagescaledvalue" placeholder="Package Scale Value">
												</div>
											</div><!-- /.form-group -->
											<div class="form-group">
												<label for="addotherunitsproductpiecescaledvalue" class="col-xs-4 control-label">Piece Scale Value</label>
												<div class="col-xs-8">
													<input type="number" class="form-control" id="addotherunitsproductpiecescaledvalue" name = "addotherunitsproductpiecescaledvalue" placeholder="Piece Scale Value">
												</div>
											</div><!-- /.form-group -->                                            																																																				
										</div><!-- /.box-body -->
										<div class="box-footer">
											<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
											<input type="hidden" name="addotherunitsproductid" id="addotherunitsproductid" value="{{@product.id}}"/>
											<button type="submit" class="btn btn-info pull-right">Submit</button>
										</div><!-- /.box-footer -->
									</form>									
								</div><!-- /.modal-body -->
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal-add-other-units -->
					
					<div class="modal fade" id="modal-delete-other-units"><!-- modal-delete-other-units -->
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Delete Other Unit</h4>
								</div>
								<div class="modal-body">									
									<form class="form-horizontal" role="form" action="{{@BASE . '/deleteotherunits'}}" method="post" enctype="multipart/form-data" id="delete-other-units-form" name="delete-other-units-form">
										<div class="box-body">													
                                            <div class="form-group">
                                                <label for="deleteotherunitsproductcode" class="col-xs-4 control-label">Product Code</label>
                                                <div class="col-xs-8">
                                                    <input type="text" class="form-control" id="deleteotherunitsproductcode" value="{{@product.code}}" name="deleteotherunitsproductcode" placeholder="Product Code" required disabled>
                                                    <p class="help-block text-red"><i class="fa fa-bell-o"></i> Please, confirm by clicking on the submit button below.</p>
                                                </div>
                                            </div><!-- ./form-group -->
                                            <div class="form-group">
                                                <label for="deleteotherunitsproductmeasureunit" class="col-xs-4 control-label">Unit Name</label>
                                                <div class="col-xs-8">
                                                    <input type="text" class="form-control" id="deleteotherunitsproductmeasureunit" name="deleteotherunitsproductmeasureunit" placeholder="Measure Unit" required disabled>
                                                </div>
                                            </div><!-- ./form-group --> 																																																				
										</div><!-- /.box-body -->
										<div class="box-footer">
											<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
											<input type="hidden" name="deleteotherunitsproductid" id="deleteotherunitsproductid" value="{{@product.id}}"/>
											<input type="hidden" name="deleteotherunitsid" id="deleteotherunitsid" />
											<button type="submit" class="btn btn-info pull-right">Submit</button>
										</div><!-- /.box-footer -->
									</form>									
								</div><!-- /.modal-body -->
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal-delete-other-units -->
					
					<div class="modal fade" id="modal-download-stock-adjustments"><!-- modal-download-stock-adjustments -->
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Download EFRIS Stock Adjustmentst</h4>
								</div>
								<div class="modal-body">									
									<form class="form-horizontal" role="form" action="{{@BASE . '/downloadstockadjustments'}}" method="post" enctype="multipart/form-data" id="download-stock-adjustments-form" name="download-stock-adjustments-form">
										<div class="box-body">													
                                            <div class="form-group">
                                                <label for="downloadstockadjustmentsproductcode" class="col-xs-4 control-label">Product Code</label>
                                                <div class="col-xs-8">
                                                    <input type="text" class="form-control" id="downloadstockadjustmentsproductcode" value="{{@product.code}}" name="downloadstockadjustmentsproductcode" placeholder="Product Code" required disabled>
                                                    <p class="help-block text-red"><i class="fa fa-bell-o"></i> Please, confirm by clicking on the submit button below.</p>
                                                </div>
                                            </div><!-- ./form-group --> 																																																				
										</div><!-- /.box-body -->
										<div class="box-footer">
											<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
											<input type="hidden" name="downloadstockadjustmentsproductid" id="downloadstockadjustmentsproductid" value="{{@product.id}}"/>
											<button type="submit" class="btn btn-info pull-right">Submit</button>
										</div><!-- /.box-footer -->
									</form>									
								</div><!-- /.modal-body -->
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal-download-stock-adjustments -->
					
					<div class="modal fade" id="modal-edit-other-units"><!-- modal-edit-other-units -->
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Edit Unit</h4>
								</div>
								<div class="modal-body">									
									<form class="form-horizontal" role="form" action="{{@BASE . '/editotherunits'}}" method="post" enctype="multipart/form-data" id="edit-other-units-form" name="edit-other-units-form">
										<div class="box-body">													
											<div class="form-group">
                                                <label for="editotherunitsproductcode" class="col-xs-4 control-label">Product Code</label>
                                                <div class="col-xs-8">
                                                    <input type="text" class="form-control" id="editotherunitsproductcode" value="{{@product.code}}" name="editotherunitsproductcode" placeholder="Product Code" required disabled>
                                                </div>
                                            </div><!-- ./form-group --> 
											<div class="form-group">
											<label for="editotherunitsproductmeasureunit" class="col-xs-4 control-label">Measure Unit</label>
											<div class="col-xs-8">
												<select class="form-control select2" style="width: 100%;" id="editotherunitsproductmeasureunit" name="editotherunitsproductmeasureunit"></select>
											</div>															
											</div><!-- /.form-group -->
											<div class="form-group">
												<label for="editotherunitsproductpieceunitprice" class="col-xs-4 control-label">Piece Unit Price</label>
												<div class="col-xs-8">
													<input type="number" class="form-control" id="editotherunitsproductpieceunitprice" name = "editotherunitsproductpieceunitprice" placeholder="Piece Unit Price">
												</div>
											</div><!-- /.form-group -->		
											<div class="form-group">
												<label for="editotherunitsproductpackagescaledvalue" class="col-xs-4 control-label">Package Scale Value</label>
												<div class="col-xs-8">
													<input type="number" class="form-control" id="editotherunitsproductpackagescaledvalue" name = "editotherunitsproductpackagescaledvalue" placeholder="Package Scale Value">
												</div>
											</div><!-- /.form-group -->
											<div class="form-group">
												<label for="editotherunitsproductpiecescaledvalue" class="col-xs-4 control-label">Piece Scale Value</label>
												<div class="col-xs-8">
													<input type="number" class="form-control" id="editotherunitsproductpiecescaledvalue" name = "editotherunitsproductpiecescaledvalue" placeholder="Piece Scale Value">
												</div>
											</div><!-- /.form-group -->                                            																																																				
										</div><!-- /.box-body -->
										<div class="box-footer">
											<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
											<input type="hidden" name="editotherunitsproductid" id="editotherunitsproductid" value="{{@product.id}}"/>
											<input type="hidden" name="editotherunitsid" id="editotherunitsid" />
											<button type="submit" class="btn btn-info pull-right">Submit</button>
										</div><!-- /.box-footer -->
									</form>									
								</div><!-- /.modal-body -->
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal-edit-other-units -->	
																			
				</section>