				<section class="content-header"><!-- Content Header (Page header) -->
					<h1>
						<i class="fa fa-warning"></i> <span>{{@pagetitle}}</span>
					</h1>
					<ol class="breadcrumb">
						<li><a href="{{@BASE}}"><i class="fa fa-home"></i> Home</a></li>
						<li class="active">{{@pagetitle}}</li>
					</ol>
				</section><!-- ./content-header -->
				
				<section class="content"><!-- Main content -->
					<div class="row">
						<div class="col-xs-12">
					    	<div id="notfound">
					    		<div class="notfound">
					    			<div class="notfound-404"></div>
					    			<h1>403</h1>
					    			<h2>Oops! Forbidden</h2>
					    			<p>Sorry, but you are not allowed to perform this function.</p>					    			
					    		</div>
					    	</div>							
						</div><!-- ./col-xs-12 -->
					</div><!-- ./row -->		
				</section>