		<!-- DataTables -->
		<script src="{{@path . 'plugins/datatables/jquery.dataTables.min.js'}}"></script>
		<script src="{{@path . 'plugins/datatables/dataTables.bootstrap.min.js'}}"></script>
		<!-- bootstrap datepicker -->
		<script src="{{@path . 'plugins/datepicker/bootstrap-datepicker.js'}}"></script>
		<!-- Select2 -->
		<script src="{{@path . 'plugins/select2/select2.full.min.js'}}"></script>
		<!-- purchaseorder javascript -->
		<script src="{{@path . 'js/purchaseorder.js'}}"></script>
		<script>
		    $('#downloaderppurchaseordersstartdate').datepicker({
		        autoclose: true
		    });

		    $('#downloaderppurchaseordersstartdate').datepicker('update', new Date());

		    $('#downloaderppurchaseordersenddate').datepicker({
		        autoclose: true
		    });

		    $('#downloaderppurchaseordersenddate').datepicker('update', new Date());

		    $(window).load(function() {
		        $('#li-products-1').addClass('active'); //mark the purchaseorder link as active
		        listpurchaseorders(); //load the purchaseorder list table on load

		        /*Check system alert & session id are the same, then display alert*/
		        if (systemalerttext !== '') {
		            window.showSystemAlertByMessage(systemalerttext);
		        }
		    });

		    //onclick event handler for the anchor called refresh-purchaseorder-list-1
		    $('#refresh-purchaseorder-list-1').click(function(e) {
		        e.preventDefault(); //prevent anchor from behaving normally
		        $('#ctnr-tbl-purchaseorder-list').append('<div class="overlay" id="otbl-purchaseorder-list"><i class="fa fa-refresh fa-spin"></i></div>');
		        listpurchaseorders();
		    });

		    //onclick event handler for the anchor called refresh-purchaseorder-list-2
		    $('#refresh-purchaseorder-list-2').click(function(e) {
		        e.preventDefault(); //prevent anchor from behaving normally
		        $('#ctnr-tbl-purchaseorder-list').append('<div class="overlay" id="otbl-purchaseorder-list"><i class="fa fa-refresh fa-spin"></i></div>');
		        listpurchaseorders();
		    });
		</script>